.archive
    background: #ecf0f1
.article
    position: relative
    h3
        bottom: 20px
        color: black
        bottom: -100%
        font-size: 14px
    img
        width: 100%
        height: auto
